.mic-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  
    background: #1da1f2 url("/images/mic.png") no-repeat center;
    background-size: 18px 18px;
  
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .mic-btn.active {
    background-color: #ff3b3b;
  }
  